<section>
  <h1>Výpočet entropie a informačního zisku (ID3)</h1>
  <table>
    <thead>
      <tr>
        <%= for attribute <- @entropy_question.dataset.attributes do %>
          <th><%= attribute %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= for row <- @entropy_question.dataset.rows do %>
        <tr>
          <%= for attribute <- @entropy_question.dataset.attributes do %>
            <td><%= if row[attribute], do: "T", else: "F" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <section class="question">
      <p>Jaká je entropie datasetu pro cílový atribut <strong><%= @entropy_question.dataset.class_attribute %></strong>?</p>
      <details>
        <summary>Odpověď</summary>
        <h1><%= @entropy_question.entropy %></h1>
      </details>
  </section>

  <section class="question">
      <p>Jaká je hodnota informačního zisku, který by vrátil algoritmus ID3 pro atribut 
          <strong><%= @entropy_question.selected_attribute %></strong>
          při jeho použití jako kořenového atributu?
      </p>
      <details>
        <summary>Odpověď</summary>
        <h1><%= @entropy_question.information_gain %></h1>
      </details>
  </section>

</section>