.container {
  margin: 0 auto;
  width: 1000px;
  max-width: 100vh;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}

table th {
  background: #eeeeee;
  border: 1px solid black;
}

table td {
  border: 1px solid black;
  text-align: center;
  width: 100px;
}

section.question {
  margin-bottom: 3rem;
}

details {
  background: #dddddd;
  padding: 1rem;
  cursor: pointer;
}